/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar .container{
   padding: 0;
}
.search{
   width: 20em !important; 
   height: 2.5em !important;
   font-size: 14px;
}

.login-con{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* border: solid 1px black; */
   background-color: white;
   border-radius: 1%;
}
.signup-con{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* border: solid 1px black; */
   background-color: white;
   border-radius: 1%;
}
.edit-con{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* border: solid 1px black; */
   background-color: white;
   border-radius: 1%;
}
